@using ResumeApplication.Models.ViewModels.Degree
@model IReadOnlyCollection<ResumeApplication.Entities.Degree>

@{
	ViewBag.Title = "Degrees";

	var degreeModel = new AddDegreeViewModel();
}

<h2>Degrees</h2>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => degreeModel.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => degreeModel.CandidateId)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.CandidateId)
			</td>
				
			<td>
				@* <a asp-action="Edit" asp-route-id="@item.DegreeId">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.DegreeId">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.DegreeId">Delete</a> *@
			</td>
		</tr>
	}
	</tbody>
</table>